description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% styles %}
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap/bootstrap.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/fontawesome/css/all.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/index.css'|theme }}">
    </head>
    <body>
        <div class="navbar-wrapper">
            {% partial 'site/navbar' %}
        </div>
        <section id='page-content'>
            <!-- Header -->
            <header id="layout-header">
                {% partial 'site/header' %}
            </header>

            <!-- Content -->
            <section id="layout-content">
                {% page %}
            </section>

            <!-- Footer -->
            <footer id="layout-footer">
                {% partial 'site/footer' %}
            </footer>
        </section>

        <!-- Scripts -->
        <script src="{{ 'assets/javascript/bootstrap.bundle.min.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>