@import '../vars.css';

body.no-scroll{
    height: 100%;
    overflow: hidden;
}

.navbar{
    position: static;
}

#navbar{
    width: var(--nav-width);
    height: 100vh;
    position: fixed;
    padding: 1.5rem 0;
    background-color: var(--nav-color);
    transition: width 200ms ease;
}

ul#navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

ul#navbar-nav li i {
    font-size: 1.2rem;
} 

.nav-item:last-child i {
    margin-right: 1rem;
}

.nav-item:last-child {
    margin-top: auto;
    margin-bottom: 7.5rem;
    width: 10rem;
    transform: rotate(-90deg);
}

.navbar-menu{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-color: black;
    z-index: 10;
    top: var(--header-height);
    left: var(--nav-width);
}

#burger-menu.__active .navbar-menu {
    transition: all .4s ease;
}

#burger-menu.__active .navbar-menu{
    visibility: visible;
    transform: translate(0);
    opacity: 1;
}