<div class="card-wrapper container">
    <h1>This is title</h1>

    <div class="card-content">
        <div class="card-text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi velit voluptatibus qui eum commodi eos a esse, aperiam explicabo quod quas, eaque vitae pariatur nostrum, id perspiciatis dolore ipsam? Nisi.</p>
            <button class="btn btn-primary">More</button>
        </div>
        <div class="card-image">
            <img src="{{ 'assets/images/card-img-mainpage-1.jpeg'|theme }}" alt="">
        </div>
    </div>
</div>