<div class="contact-form-wrapper container">
    <h1>Leave contact details and we'll call you</h1>
    <div class="contact-form flex">
        <div class="contact-form-labels">
            <div class="contact-form-image">
                <img src="{{ 'assets/images/contact-form-image.jpeg'|theme }}" alt="">
            </div>
            <p>Omirzak Alina</p>
            <p>Admissions Officer</p>
        </div>
        <div class="contact-form-content">
            <form action="">
                <!-- <label for="firstname">First Name</label> -->
                <input type="text" class="" id="firstname" placeholder="First Name">
        
                <!-- <label for="phone number">Phone number</label> -->
                <input type="tel" class="" id="firstname" placeholder="Phone Number">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>