<!-- <div class="groups-cards column-4">
    <div class="iconbox left style1 v1">
        <div class="box-header">
            <div class="icon">
                <span class="ti-layers font-size-36"></span>
                <span class="ti-layers two font-size-36"></span>
            </div>
            <div class="box-title">
                <a href="#" title="">Slider Revolution</a>
            </div>
        </div>
        <div class="box-content">
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
    </div>
</div> -->

<div class="groups-wrapper card-3">
    <a href="#" class="">
        <h2>Primary School⠀</h2>
        <p>
            Cambridge Primary
        </p>
        <p class="groups__price">
            <span class="years-number">5-10</span>
            <span class="years-label">years</span>
        </p>
        <div class="groups-arrow">

        </div>
    </a>
</div>

<div class="groups-wrapper card-3">
    <a href="#" class="">
        <h2>Primary School⠀</h2>
        <p>
            Cambridge Primary
        </p>
        <p class="groups__price">
            <span class="years-number">5-10</span>
            <span class="years-label">years</span>
        </p>
        <div class="groups-arrow">

        </div>
    </a>
</div>

<div class="groups-wrapper card-3">
    <a href="#" class="">
        <h2>Primary School⠀</h2>
        <p>
            Cambridge Primary
        </p>
        <p class="groups__price">
            <span class="years-number">5-10</span>
            <span class="years-label">years</span>
        </p>
        <div class="groups-arrow">

        </div>
    </a>
</div>