<div class="page-title-card-wrapper container">
    <div class="left">
        <h1>Page Title</h1>
        <div class="page-title-card-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt molestiae natus similique ad repellendus, magnam ipsa illum iusto quia. Quos repellendus aspernatur voluptates est nesciunt repellat modi praesentium veritatis? A sunt obcaecati pariatur provident sit dolorem dignissimos! Autem voluptatum ipsa doloremque officia ex eos, velit quas obcaecati reiciendis similique!</p>

        </div>
    </div>
    <div class="right">
        <div class="page-title-image-wrapper">
            <img src="{{ 'assets/images/academics-page-title-image.jpeg'|theme }}" alt="">
        </div>
    </div>
</div>