.homepage-banner {
    height: 36rem;
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 3em;
    background-color: rgb(0, 0, 0, 0.4);
    overflow: hidden;
    color: white;
}

.homepage-banner > video {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 745px) {
    .homepage-banner video {
        height: 100%;
        width: auto;
    }
}